.khan__buy-link {
  /* border: gold solid 1px; */
  display: inline-flex;
  vertical-align: top;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
}

.khan__buy-link:hover {
  transition: .1s ease-out;
  opacity: .6;
}